body {
    background-color: #E1ECF9 !important;
    background-image: url(images/08562e5166e7456.jpg);
    background-repeat: repeat-y repeat-x;
    height: 100%;
}

div.main {
    padding: 15px 25px 15px 25px;
    overflow: hidden;
    position: relative;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

nav a {
    font-size: 125%;
    text-decoration: none;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
}

a:hover {
    font-style: italic;
}

.header {
    margin-bottom: 25px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #9d9d9d;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    width: 100%;
    z-index: 100;
}

.caption {
    min-height: 150px;
    max-height: 150px;
}

#myname {
    padding: 25px 0 5px 0;
    color: #E1ECF9;
    font-family: 'Italianno', cursive;
    font-size: 86px;
}

#subtitle {
    text-align: center;
    color: #E1ECF9;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-bottom: 0;
    margin-bottom: -10px;
}

#imgme {
    border-radius: 45px;
    margin-top: 20px;
}

.tab-content {
    margin-bottom: 100px;
}

.centervert {
    margin-top: 55px;
}

#experience .row,
#projects .row {
    overflow: hidden
}

#experience .well,
#experience .well,
#projects .well {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
    margin-top: 20px;
}

#experience .img-responsive,
#projects .img-responsive {
    min-width: 100%;
    display: block;
}

/*todo: redo this centering */

/*
.container-fluid > .nav-pills {
    margin-left: calc(50% - calc(383px/2));
}
*/